*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* root variables  */

:root{
    --font : Verdana, Geneva, Tahoma, sans-serif;
}


/* general class  */

.hidden{
    display: none;
}

.active{
    color: rgb(107, 139, 247);
}
/* main page section  */

body{
    background-image: url('/images/background.jpg');
   
}

.logo{
    text-align: center;
    margin-top: 20px;
}

/* input section  */

.input_section{
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(12, 44, 150, 0.75);
    width:30%;
    margin-top: 50px;
    padding:12px;
}

#player_name_input{
    outline:none;
    padding:12px;
    font-size: 20px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.btn{
    background-color: #53e237;
    padding:12px;
    border-radius: 3px;
    font-size: 30px;
    color:white;
    border:none;
    font-family: var(--font);
    cursor: pointer;
}

#room_button{
    margin-top: 10px;
    background-color: #2c8de7;
}

#room_button:hover{
    background-color: #1368b8;
    
}

#play_button:hover{
    background-color: #30ac17;
}

/* footer section  */

footer{
    display: flex;
    justify-content: center;
    background-color: rgba(7, 36, 131, 0.75);;
    height: 100%;
    margin-top: 30px;
}

.news{
    margin: 0 50px;
}

.footer_block{
    width:25%;
    background-color: rgba(12, 44, 150, 0.75);
    margin-top: 80px;
    color:white;
    /* text-align: center; */

}

/* footer block  section  */

.block_head{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-size: 30px;
}

.about_para{
    margin-top: 30px;
    font-size: 18px;
    /* text-align: left; */
    font-family: var(--font);
}

.instruction_img{
    margin-top: 50px;
}

.instruction_img p{
    font-size: 18px;
    text-align: center;
    font-family: var(--font);
}

.fa-circle{
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.fa-circle:hover{
    cursor: pointer;
}

.news_head{
    display: flex;
    justify-content: space-between;
    font-family: var(--font);
    font-size: 18px;
    margin-top: 10px;
    padding-bottom: 3px;
    border-bottom: 1px solid #eee;
}

.ul1{
    margin-left: 20px;
}





